/* 超链接 */
a {
	color: #0069d6; 
	text-decoration: none;
}

a:hover {
	color: #0050a3;
	text-decoration: underline;
}

/* 菜单 */

#menu-bar ul{
	list-style-type: circle;
	list-style-position: inside;
	margin: 0em;
	padding: 0;
}

li.page-menu {
	width: 5em;
	padding-right: 1em;
	float: left;
}

li.curr-page {
	list-style-type: disc;
	text-decoration: underline;
}

div.page, h2 {
	clear:both;
	margin-top: 2em;
}

/* 表格 */
table {
	border-collapse: collapse;
}

tr.even {
	background-color: #C2C8D4;
}

tr.over {
	background-color: #8797B7;
}

td {
	border-bottom: 1px solid #C2C8D4;
	padding: 5px;
}

th {
	border-right: 2px solid #FFF;
	color: #FFF;
	padding-right: 2px;
	padding-left: 2px;
	background-color: #626975;
}

/* 折叠设置 */
.foldOff {
	display: none;
}

.foldOut {
	display: block;
}

.foldOn {
	display: inline;
}

a.foldOpen {
	color:blue;
	text-decoration: wavy underline;
}

a.foldClose {
	color:blue;
	text-decoration: underline;
}

a.foldOpen:hover {
	background-color: lightgrey;
	text-decoration: underline;
}
a.foldClose:hover {
	background-color: lightgrey;
	text-decoration: underline;
}

/* 操作提示文字 */
.operate-tips {
	font-size: smaller;
}
.operate-warn {
	color:red;
}

.radio-checked {
	font-weight: bold;
	color: #FFF;
	padding-right: 2px;
	padding-left: 2px;
	background-color: #626975;
}

.input-lock {
	background-color: #8797B7;
}

/* 表格设置 */

th.fid {
	width: 3em;
}
th.fname {
	width: 4em;
}
th.fdate {
	width: 5em;
}
th.fsex {
	width: 3em;
}
th.flevel {
	width: 3em;
}
