

body.simple {
	width: 90%;
	margin: 0 auto;
}

body {
	font-family: "PingFang SC", "Hiragino Sans GB", Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: auto;
	max-width: 42em;
	color: #737373;
	background-color: white;
	margin: 10px 13px 10px 13px;
}

@media screen and (min-width: 914px) {
	body {
		width: 854px;
		margin: 10px auto;
	}
}

#site-footer {
	font-size: 12px;
	text-align: center;
}

#site-footer hr {
	border: thin solid;
}

#article-footer {
	/* text-align: right; */
	font-size: smaller;
}

#blog-article p {
  text-indent: 2em;
}

#blog-article hr {
  border: thin dashed;
}

a {
  color: #0069d6; 
  text-decoration: none;
}

a:hover {
  color: #0050a3;
  text-decoration: underline;
}

.topic-now {
	font-weight: bold;
	text-decoration: underline;
}

.foldOff {
	display: none;
}

#divSearch {
	text-align: center;
	margin-top: 1em;
}

.operate-warn {
	color: red;
	font-size: smaller;
}
.operate-tips {
	font-size: smaller;
}
